* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(7, 12, 52);
    color: white;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #072144;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: rgb(5, 231, 220);
}
.home{
    height: 100vh;
    background: url("fondoportafoilio.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 10%;

}
.home-content{
    max-width: 50%;

}
.home-content h1{
    position: relative;
    font-size: 8vh;
    font-weight: 700;
    color: white;
}
.home-content h1::before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #072144;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3{
    position: relative;
    font-size: 5vh;
    font-weight: 700;
    color: rgb(5, 231, 220);
}
.home-content h3 span{ 
    color: rgb(5, 231, 220);
}
.home-content h3::before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #072144;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}
.home-content p {
    position: relative;
    font-size: 3vh;
    margin: 20px 0 40px;
}
.home-content p::before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #072144;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 8vh;
    
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: rgb(5, 231, 220);
    border-radius: 8px;
    font-size: 3vh;
    color: rgb(7, 12, 52);
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0px;
    transition: .5s;
}
.btn-box a:hover{
    background-color: transparent;
    border: 2px solid rgb(5, 231, 220);
    color: rgb(5, 231, 220);
}
.btn-box a::before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #072144;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 0px;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: 3s;
}
.home-imgHover:hover {
    background-color: #072144;
    opacity: .5;
}

.home-imgHover::before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #072144;
    animation: showRight 1s ease forwards;
    animation-delay: 2.2s;
    z-index: 100;
}
.about{
    height: 100vh;
    background: url("fondoportafoilio.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 10%;

}
.home-content h1{
    position: relative;
    font-size: 10vh;
    font-weight: 700;
    color: white;
}
.about-content{
    max-width: 50%;

}
.about-content h3{
    position: relative;
    font-size: 8vh;
    font-weight: 700;
    color: rgb(5, 231, 220);
}
.about-content p {
    position: relative;
    font-size: 5vh;
    margin: 20px 0 40px;
}

@keyframes showRight {
    100%{
        width: 0;
    }
    
}

.experience-content {
    max-width: 600px;
    margin: 0;
    padding: 20px;
}

canvas {
    width: 100%;
    height: 400px;
}

.project-image-container {
    padding: 20px; /* Agrega un relleno alrededor de la imagen */
}
.project-image {
    width: 500px; /* Ancho de la imagen */
    height: 250px; /* Altura de la imagen */
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    transition: transform 0.5s ease-in-out; /* Transición suave para la animación */
}

.project-image.animate {
    transform: scale(1.1); /* Escalar la imagen durante la animación */
}

